@tailwind base;
@tailwind components;
@tailwind utilities;


/* google fonts */
@layer base
{
  .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
}

@layer base {
  .navmenue {
    @apply block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-200 active:bg-slate-100 focus:outline-none focus:border-b-2 focus:border hover:border-2 hover:border-purple-600 focus:text-purple-600 hover:text-purple-600;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }

  .navmenue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
  }

  .navmenue:hover::before {
    background-color: #ffffff;
  }

  .navmenue:hover {
    transform: translateX(10px);
  }

  .navmenue * .navmenue:hover {
    transform: translateX(-10px);
  }
}


.glow-effect {
  filter: drop-shadow(0 0 8px rgba(42, 226, 246, 0.8));
}

/* Background animation  */


@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}


@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}


@layer components {
  .border-gradient-7 {
    border-image: conic-gradient(
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
    ) 1;
    border-width: 4px; /* Adjust the width of the border */
  }

  .hover\:border-gradient-7:hover {
    border-image: conic-gradient(
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet
    ) 1;
  }

  /* Optional: Add animations for the border if needed */
  @keyframes border-animation {
    0% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }

  .animate-border {
    animation: border-animation 2s infinite; /* Adjust as needed */
  }
}